@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.header {
  height: 95px;
  width: 100%;
  padding: 20px 70px;
  background-color: #ffffff;
  color: #4E4E4E;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 270px;
}
.logo img {
  width: 100%;
}
.menu {
  width: 500px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
.menu-item {
  border-radius: 999px;
  text-decoration: none;
  color: #4E4E4E;
  display: block;
}
.menu-item-active {
  padding: 7px 15px;
  background-color: #72AC6B;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.header-contact-row {
  margin-bottom: 5px;
  font-size: 22px;
}
.header-contact-row i {
  font-size: 24px;
  margin-right: 10px;
}
.header-contact-row span {
  transition-duration: 0.4s;
}
.header-contact-row span:hover {
  background-color: lightgray;
  border-radius: 5px;
  cursor: pointer;
}
.header-contacts-divider {
  width: 220px;
  height: 1px;
  background-color: #4E4E4E;
}
.header-contact-row:last-child {
  margin-bottom: 0;
  margin-top: 5px;
}
