

// Basic style variables

// Color scheme
@baseTextColor: #4E4E4E;
@baseHeadingColor: #3F3F3F;
@baseColor: #ffffff;

@mainColor: #72AC6B;

@activeButtonColor: #2C6D24;
@dividerLinesColor: #A4A4A4;

// Other base styles
@baseShadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
@baseTextShadow: 0 0 10px black;
@baseBorderRadius: 10px;
@baseBorder: 1px solid #B4B4B4;

// Main font style
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// Basic styles to all elements
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin:0 auto;
    max-width: 1400px;
}

// Basic classes

.basic-heading {
    font-size: 33px;
    color: @baseHeadingColor;
    font-weight: bold;
}

// Green heading
.green-heading {
    font-size: 24pt;
    color: @mainColor;
    text-transform: uppercase;

    &::after {
        content: '';
        display: block;
        height: 4px;
        width: 55px;
        border-radius: @baseBorderRadius;
        background-color: @mainColor;
    }
}


// Read-more
.read-more {
    margin-top: 25px;
    padding: 9px 23px;
    border-radius: @baseBorderRadius;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: @mainColor;
    color: @baseColor;
    text-decoration: none;
    font-size: 20px;

    &-icon {
        margin-left: 10px;
    }
}

// Header
.header {
    height: 95px;
    width: 100%;
    padding: 20px 75px;
    background-color: @baseColor;
    color: @baseTextColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 270px;

    img {
        width: 100%;
    }
}

// Menu
.menu {
    width: 500px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    border-radius: 999px;
    text-decoration: none;
    color: @baseTextColor;
    display: block;

    &-active {
        padding: 7px 15px;
        background-color: @mainColor;
        text-decoration: none;
        color: @baseColor;
        box-shadow: @baseShadow;
    }
}

// Header contacts
.header-contact-row {
    margin-bottom: 5px;
    font-size: 22px;

    i {
        font-size: 24px;
        margin-right: 10px;
    }

    span {
        transition-duration: 0.4s;

        &:hover {
            background-color: lightgray;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.header-contacts-divider {
    width: 220px;
    height: 1px;
    background-color: @baseTextColor;
}

.header-contact-row:last-child {
    margin-bottom: 0;
    margin-top: 5px;
}

// Slider 
.slider {
    height: 635px;
    width: 100%;
    padding: 0 25px;
    background-image: url(../image/home-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 80px 1fr 80px;
    grid-column-gap: 65px;

    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.2;
    }
}

.slider-button {
    height: 76px;
    width: 76px;
    border-radius: 100%;
    background-color: @baseColor;
    opacity: 0.8;
    display: grid;
    place-content: center;
    z-index: 10;

    &-arrow-left {
        padding-right: 5px;
    }

    &-arrow-right {
        padding-left: 5px;
    }

}

.slider-title-block {
    display: grid;
    justify-content: start;
    color: @baseColor;
    text-shadow: @baseTextShadow;
    z-index: 10;
}

.slider-title {
    margin-bottom: 25px;
    color: @baseColor;
    display: grid;
    font-size: 36pt;
    grid-auto-flow: column;
    justify-self: start;

    &::before {
        content: '';
        display: block;
        height: 4px;
        width: 50px;
        margin-right: 15px;
        background-color: @baseColor;
        box-shadow: 0 0 4px 0 black;
        position: relative;
        top: 26px;
    }
}

.slider-subtitle {
    width: 900px;
}

// About us link
.about-us-link {
    height: 100px;
    width: 100%;
    padding: 0 75px;
    background-color: @mainColor;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;

    .about-us-link-title {
        color: @baseColor;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: start;

        .about-us-link-icon {
            font-size: 28pt;
            margin-right: 15px
        }

        .about-us-link-heading {
            font-size: 20pt;
        }
    }

}

.about-us-link-button {
    padding: 10px 15px;
    border-radius: @baseBorderRadius;
    background-color: @activeButtonColor;
    color: @baseColor;
    text-decoration: none;

    .fa-chevron-down {
        margin-left: 25px;
    }
}

// What we do?
.what-we-do {
    padding: 40px 75px;
    background-image: url(../image/paper-background.jpg);
}

.what-we-do-box {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 405px);
    grid-template-rows: auto;
    grid-column-gap: 45px;
    justify-content: center;
}

.what-we-do-cards {
    padding: 20px;
    background-color: @baseColor;
    border-radius: @baseBorderRadius;
    border: @baseBorder;
    display: grid;
    justify-items: center;
    align-content: start;
}
.what-we-do-cards2 {
    .what-we-do-cards;
}

.card-divider {
    height: 1px;
    width: 315px;
    margin-top: 17px;
    background-color: @baseHeadingColor;
}

.card-text {
    margin: 15px 25px;
    color: @baseTextColor; 
}

.card-image {
    border: @baseBorder;
    border-radius: @baseBorderRadius;
}

// Products
.products {
    padding: 50px 75px;

    .products-box {
        margin-top: 50px;
        display: grid;
        grid-gap: 20px;

        .products-row {
            display: grid;
            grid-auto-rows: 250px;
            grid-gap: 20px;
        }

    }

}

.products-row.row-first {
    grid-template-columns: .9fr 1.8fr 1.3fr;
}

.products-row.row-second {
    grid-template-columns: 1.3fr 1.8fr .9fr;
}

.products-examples {
    border-radius: @baseBorderRadius;
    display: grid;
    place-content: center;
    text-align: center;
    padding: 20px;
    color: @baseColor;
    font-size: 22pt;
    text-shadow: @baseTextShadow;
}

.first-example {
    background-image: url(../image/page-home-products-image-first.png);
} .second-example {
    background-image: url(../image/page-home-products-image-second.png);
} .third-example {
    background-image: url(../image/page-home-products-image-third.png);
} .fourth-example {
    background-image: url(../image/page-home-products-image-fourth.png);
} .fifth-example {
    background-image: url(../image/page-home-products-image-fifth.png);
} .sixth-example {
    background-image: url(../image/page-home-products-image-sixth.png);
}

// Footer
.footer {
    width: 100%;
    padding: 75px;
    background-color: #353540;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-column > .green-heading {
    margin-bottom: 40px;
}
.footer-column2 > .green-heading {
    margin-bottom: 40px;
}
.footer-column3 > .green-heading {
    margin-bottom: 40px;
}

.footer-link1 {
    margin-bottom: 25px;
    display: block;
    color: white;
}
.footer-link2 {
    .footer-link1; 
}
.footer-link3 {
    .footer-link1; 
}

// Footer contact card

.footer-contact-card {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: @baseBorderRadius;
    background-color: #50505C;
    color: @baseColor;
}

.footer-contact-heading {
    color: @mainColor;
    font-size: 28px;
    font-weight: bold;
    text-align: center;

    &::before,
    &::after {
        content: '';
        display: inline-block;
        height: 5px;
        width: 35px;
        border-radius: @baseBorderRadius;
        background-color: @mainColor;
        position: relative;
    }

    &::before {
        bottom: 10px;
        margin-right: 10px;
    }

    &::after {
        bottom: 8px;
        margin-left: 10px;
    }
}

.list-title {
    margin: 15px 0;
}

.footer-contact-list-heading {
    font-size: 24px;
}

.footer-contact-icon {
    margin-right: 10px;
    font-size: 26px;
}

.list-item {
    margin-bottom: 10px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;

    &:last-child {
        margin-bottom: 0;
    }
}

.list-icon {
    height: 10px;
    width: 10px;
    background-color: @baseColor;
    border-radius: 100%;
    margin-right: 10px;
}

.footer-contact-divider {
    height: 1px;
    width: 100%;
    margin-top: 20px;
    background-color: @baseColor;
}

// About us
.about-title-block {
    height: 550px;
    padding: 50px 75px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 450px 1fr;
    grid-gap: 50px;
    justify-content: center;
    align-items: start;
    background-image: url(../image/paper-background.jpg);
}

.about-title-box {
    display: grid;
    align-self: center;
}

.about-title-block .green-heading {
    margin-bottom: 50px;
}

.about-title-image {
    height: 300px;
    background-image: url(../image/about-us-title-block.png);
    background-position: center;
    border-radius: @baseBorderRadius;
    border: @baseBorder;
}

.about-title-heading {
    margin-bottom: 25px;
    color: @baseHeadingColor;
}

.about-title-describe {
    color: @baseTextColor;
}

// Our advantages
.our-advantages {
    width: 100%;
    padding: 75px;
}

.advantages-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px;
}

.advantage-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-gap: 20px;
}

.advantage-number {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    color: @mainColor;
    border: 2px solid @mainColor;
    display: grid;
    place-content: center;
    font-size: 32pt;
}

.advantage-describe {
    display: grid;
    justify-items: start;
}

.advantage-heading {
    margin-bottom: 10px;
    color: @baseHeadingColor;
    font-size: 18pt;
}

.advantage-text {
    color: @baseTextColor;
}

// Why choose us

.why-choose-us {
    padding: 75px;
    background-image: url(../image/paper-background.jpg);
}

.why-choose-us-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 75px;
}

.why-choose-us-item {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 320px 1fr;
}

.why-choose-image {
    border-radius: @baseBorderRadius;
}

.why-choose-image.choose-image-first {
    background-image: url(../image/why-choose-first.png);
    background-size: cover;
    background-repeat: no-repeat;
} .why-choose-image.choose-image-second {
    background-image: url(../image/why-choose-second.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.why-choose-text {
    display: grid;
    justify-items: start;
}

.why-choose-heading {
    margin-bottom: 10px;
    color: @baseHeadingColor;
}

.why-choose-describe {
    color: @baseTextColor;
}

// Products
.our-timbers {
    padding: 75px;
}

.our-timber-box {
    margin-top: 50px;
    display: grid;
    grid-gap: 20px;
}

.our-timber-box-row {
    display: grid;
    grid-auto-rows: 300px;
    grid-gap: 20px;
    justify-content: center;
}

.our-timber-box-row.row-first {
    grid-template-columns: 20% 45% 30%;
} .our-timber-box-row.row-second {
    grid-template-columns: 30% 45% 20%;
} .our-timber-box-row.row-third {
    grid-template-columns: 20% 45% 30%;
}

.our-timber-rows-item {
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: @baseBorderRadius;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 25px;
    color: @baseColor;
    text-shadow: @baseTextShadow;
}

.our-timber-rows-item.item-first {
    background-image: url(../image/products-first.png);
    
} .our-timber-rows-item.item-second {
    background-image: url(../image/products-second.png);
    
} .our-timber-rows-item.item-third {
    background-image: url(../image/products-third.png);
} .our-timber-rows-item.item-fourth {
    background-image: url(../image/products-fourth.png);
} .our-timber-rows-item.item-fifth {
    background-image: url(../image/products-fifth.png);
} .our-timber-rows-item.item-sixth {
    background-image: url(../image/products-sixth.png);
} .our-timber-rows-item.item-seventh {
    background-image: url(../image/products-seventh.png);
} .our-timber-rows-item.item-eighth {
    background-image: url(../image/products-eighth.png);
} .our-timber-rows-item.item-ninth {
    background-image: url(../image/products-ninth.png);
}

// Help to find
.help-to-find {
    padding: 50px 75px;
    background-image: url(../image/paper-background.jpg);
}

.help-to-find-text {
    margin-top: 40px;
    color: @baseTextColor;
    font-size: 14pt;
}


.help-to-find-box {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.help-to-find-image {
    width: 100%;
    border-radius: @baseBorderRadius;
}


.help-to-find-heading, .help-to-find-heading1, .help-to-find-heading2, .help-to-find-heading3 {
    margin: 10px 0;
    color: @baseHeadingColor;
}

.help-to-find-item-text, .help-to-find-item-text1, .help-to-find-item-text2, .help-to-find-item-text3 {
    color: @baseTextColor;
}
// Contact us

.contact-container {
    width: 100%;
    padding: 75px;
}

// Contact form

.contact-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}

.contact-form > .green-heading {
    margin-bottom: 50px;
}

.contact-box {
    display: grid;
    justify-content: start;
    grid-template-rows: 55px 55px 175px;
    grid-gap: 20px;
    grid-template-areas: 
        "name phoneNumber"
        "email subject"
        "message message"
        ". button"
    ;
}

.contact-input {
    width: 300px;
    font-size: 14pt;
    padding: 10px 20px;
    border: @baseBorder;
    border-radius: @baseBorderRadius;
}

.name-input {grid-area: name;}
.phone-number-input {grid-area: phoneNumber;}
.email-input {grid-area: email;}
.subject-input {grid-area: subject;}
.message-input {grid-area: message;}

.contact-message {
    padding: 20px;
    font-size: 12pt;
    border: @baseBorder;
    border-radius: @baseBorderRadius;
}

.contact-message::placeholder {
    font-size: 14pt;
    color: #A4A4A4;
    display: block;
}

.contact-input::placeholder {
    font-size: 14pt;
    color: #A4A4A4;
}

.send-contacts-button {
    height: 45px;
    padding: 0 15px;
    background-color: @mainColor;
    color: @baseColor;
    border-radius: @baseBorderRadius;
    justify-self: end;
    grid-area: button;
    font-size: 16pt;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;

    .send-button-text {
        margin-right: 10px;
    }

    .send-button-icon {
        font-size: 18pt;
    }
}

// Contacts
.contacts {
    border-left: 1px solid @dividerLinesColor;
    display: grid;
    justify-items: end;
    align-content: start;
    grid-gap: 20px;
}

.contacts-green-heading {
    font-size: 24pt;
    color: @mainColor;
    text-transform: uppercase;
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 4px;
        width: 55px;
        border-radius: @baseBorderRadius;
        background-color: @mainColor;
        position: absolute;
        right: 0;
    }
}

.contacts-box {
    width: 100%;
    padding: 50px;
}

.contacts-contact-title {
    margin-bottom: 20px;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;

    .contacts-contact-icon {
        margin-right: 20px;
        color: @baseTextColor;
        font-size: 24pt;
    }

    .contacts-contact-heading {
        color: @mainColor;
        font-size: 24pt;
    }
}

.contacts-contact-list {
    display: grid;
    margin-bottom: 30px;
}

.contacts-contact-list-item {
    max-width: 300px;
    margin-bottom: 10px; 
    color: @baseTextColor;
    font-size: 16pt;
}

.contacts-contact-divider {
    height: 1px;
    width: 100%;
    margin-bottom: 30px;
    background-color: @dividerLinesColor;
}

.google-maps {
    height: 450px;
    width: 100%;
    background-image: url(../image/beta-google-maps-image.png);
}
//? DETAILS
.mixin-flex(@flex:flex, @direction:row, @center:center, @space:space-evenly) {/*MIXIN-flex*/
    display: @flex;
    flex-direction: @direction;
	justify-content: @space;
	align-items:@center;
}
// Basic styles to all elements
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

// Header
.header {
    height: 95px;
    width: 100%;
    padding: 20px 70px;
    background-color: @baseColor;
    color: @baseTextColor;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 270px;

    img {
        width: 100%;
    }
}

// Menu
.menu {
    width: 500px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    border-radius: 999px;
    text-decoration: none;
    color: @baseTextColor;
    display: block;

    &-active {
        padding: 7px 15px;
        background-color: @mainColor;
        text-decoration: none;
        color: @baseColor;
        box-shadow: @baseShadow;
    }
}

// Header contacts
.header-contact-row {
    margin-bottom: 5px;
    font-size: 22px;

    i {
        font-size: 24px;
        margin-right: 10px;
    }

    span {
        transition-duration: 0.4s;

        &:hover {
            background-color: lightgray;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.header-contacts-divider {
    width: 220px;
    height: 1px;
    background-color: @baseTextColor;
}

.header-contact-row:last-child {
    margin-bottom: 0;
    margin-top: 5px;
}
.one-product {
    width: 100%;
    height: 900px;
    // background-color: green;
}
.flex {
    width: 1349px;
    height: 85%;
    .mixin-flex(flex, row,space-evenly);
    margin-top: 30px;
}
.box-h1 { /*блок для вирівнювання заголовку*/
    width: 400px;
    height: 65px;
    .mixin-flex(flex, column,space-evenly);
    position: relative;//по іншому не вирівнювалось
    top:20px;
     margin-left: 5%;
}
.h1__green {
    color:@mainColor;
    font-size: 34px;
}
.green-line {
    width: 60px;
    height: 5px;
    background-color: @mainColor;
    border-radius: 10px;
}
.fotos {
    width: 43%;
    height: 85%;
   margin-left: -10px;
    .mixin-flex(flex, column,center,space-evenly);
    hr {
        width: 568px;
        border: 1px solid #4F4F4F;
    }
}
.fotos__big-foto {
    width: 568px;
    height: 436px;
    background-image: url(../img/details__image.png);
    background-size: cover;
    background-repeat: no-repeat;
    .mixin-flex(flex, row,center,space-between);
}
.big-foto__arrowLeft {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
.mixin-flex(flex, row,center,center);
margin-left: 13px;
img {
    transform: scaleX(-1);
}
}
.big-foto__arrowRight {
    .big-foto__arrowLeft;
    margin-right: 13px;
    img {
        transform: none;
    }
}
.fotos_small-box {
    width: 568px;
    height: 125px;
    .mixin-flex(flex, row,center,space-between);
}
.fotos__small-foto {
    width: 125px;
    height: 125px;
    background-image: url(../img/details__image-small.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.line {
    height: 650px;
    border: 1px solid #4F4F4F;
    margin-top: 0px;
}

.describe {
    width: 500px;
    height: 85%;
    margin-left: 0px;
    margin-top: -10px;
}
.describe__name-box {
    width: 100%;
    height: 75px;
    .mixin-flex(flex, row,center,space-between);
    h2 {
        font-size: 28px;
        color:@baseHeadingColor;
    }
}
.name-box__icon {
    width: 60px;
height: 60px;
border-radius: @baseBorderRadius;
background-color: @mainColor;
.mixin-flex(flex, row,center,center);
}
.describe__quality {
    width: 100%;
    height: 40px;
    border-top:2px solid  #4F4F4F;; 
    border-bottom:2px solid  #4F4F4F;; 
    .mixin-flex(flex, row,center,space-between);
    h2 {
        font-size: 22px;
        color:@baseHeadingColor;
    }
    p {
        font-size: 21px;
        color:@mainColor;
    }
}
.quality__flex {
    width: 43%;
    .mixin-flex(flex, row,center,space-between);
    img {
        margin-left: 10px;
    }
}
.quality__flex2 {
    width: 20%;
    .mixin-flex(flex, row,center,space-between);
    margin-right: 1px;
}
.describe__main {
    width: 100%;
    height: 350px;
    .mixin-flex(flex, column,flex-start,space-evenly);
    border-bottom:2px solid #4F4F4F;;
    hr{
        width: 30px;
        border: 1px solid @baseHeadingColor;

    }
    h3 {
        font-size: 24px;
        color:@baseHeadingColor;
    }
    p {
        width: 95%;
        font-size: 20px;
        color:@baseTextColor;

    }
    .main__flex {
        width: 200px;
        .mixin-flex(flex, row,center,space-between);
        margin-right: 1px;
    }
}
.describe__count {
    width: 100%;
    height: 80px;
    .mixin-flex(flex, row,center,flex-start);
    color:@baseHeadingColor;
    margin-top: 10px;
    .count__how-many{
        width: 103px;
        height: 45px;
        border: 1px solid @baseHeadingColor;
        border-radius: 5px;
        font-size: 28px;
        margin-left: 20px;
        .mixin-flex(flex, row,center,space-around);
        
    }
   
}
.buy__button {
    width: 130px;
    height: 50px;
    background-color: @mainColor;
    border-radius: 5px;
    font-size: 28px;
    color:@baseColor;
    .mixin-flex(flex, row,center,space-evenly);
    margin-top: 25px;
}
//? END DETAILS  
@media (max-width: 1025px) {
    .header-contacts {
        display: none;
    }
    
    .green-heading {
        font-size: 24pt;
        color: @mainColor;
        text-transform: uppercase;
    
        &::after {
            content: '';
            display: block;
            height: 4px;
            width: 55px;
            border-radius: @baseBorderRadius;
            background-color: @mainColor;
            margin-top: 10px;
        }
    }
    //What we do?
    .what-we-do {
        padding: 40px 25px;
        background-image: url(../image/paper-background.jpg);
    }
    
    .what-we-do-box {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: auto;
        grid-column-gap: 15px;
        justify-content: center;
    }
    .what-we-do-cards2 {
        .what-we-do-cards;
    }
    
    .card-divider {
        height: 1px;
        width: 260px;
        margin-top: 17px;
        margin-left: 0px;
        background-color: @baseHeadingColor;
    }
    
    
    .card-image {
        width: 100%;
        border: @baseBorder;
        border-radius: @baseBorderRadius;
    }
    //Slider 
    .slider-subtitle {
        width: 685px;
    }
    //Products
    .products {
        padding: 40px 20px;
    }
    
    //footer
    .footer {
        width: 100%;
        padding: 55px;
        background-color: #353540;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .footer-column2 > .green-heading {
        margin-bottom: 40px;
        margin-left: -20px
    }
    
    .footer-link2 {
        .footer-link1;
        margin-left: -20px 
    }
}

@media (max-width: 800px) {
    body {
        margin: 0 auto;
    }
    
    // Header
    .header {
        height: 95px;
        width: 100%;
        background-color: @baseColor;
        color: @baseTextColor;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: grid;
        grid-auto-flow: column;
        justify-content:space-around;
        align-items: center;
        
    }
    .green-heading {
        font-size: 32px;
        color: @mainColor;
        text-transform: uppercase;
    
        &::after {
            content: '';
            display: block;
            height: 4px;
            width: 55px;
            border-radius: @baseBorderRadius;
            background-color: @mainColor;
            margin-top: 10px;
        }
    }
    .logo {
        width: 200px;
    }
    
    // Menu
    .menu {
        width: 400px;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 45px;
    }
    
    .menu-item {
        border-radius: 999px;
        text-decoration: none;
        color: @baseTextColor;
        display: block;
    
        &-active {
            padding: 7px 15px;
            background-color: @mainColor;
            text-decoration: none;
            color: @baseColor;
            box-shadow: @baseShadow;
        }
    }
    
    // Header contacts
    .header-contact-row {
       display: none;
    }
    .header-contacts-divider {
        display: none;
    }
    .menu-item {
       font-size: 18px;
    }
    .logo {
        width: 250px;
        height: 68px;
    
        img {
            width: 100%;
        }
    }
    .our-timbers {
        padding: 35px;
    }
    //Slider
    .slider-button {
        display: none;
    }
    .slider-subtitle {
        width: 700px;
        font-size: 30px;
    }
    .slider-title {
        font-size: 30px;
        &::before {
            position: relative;
            top: 17px;
        }
    }
//- About us link
.about-us-link {
    display: none;
}
// What we do?
.what-we-do {
    padding: 40px 75px;
    background-image: url(../image/paper-background.jpg);
}

.what-we-do-box {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.what-we-do-cards2 {
    display: none;
}
.card-text {
    margin: 15px 25px;
    color: @baseTextColor; 
}

.card-image {
    width: 90%;
    border: @baseBorder;
    border-radius: @baseBorderRadius;
}
.card-divider {
    height: 1px;
    width: 260px;
    margin-top: 17px;
    background-color: @baseHeadingColor;
}
.what-we-do-cards {
    padding: 20px;
    background-color: @baseColor;
    border-radius: @baseBorderRadius;
    border: @baseBorder;
    display: grid;
    justify-items: center;
    align-content: start;
}

//- Products
.products {
    padding: 50px 55px;

    .products-box {
        margin-top: 50px;
        display: grid;
        grid-gap: 20px;

        .products-row {
            display: grid;
            grid-auto-rows: 250px;
            grid-gap: 20px;
        }

    }

}
.products-box {
    margin-top: 50px;
    display: grid;
    grid-gap: 20px;

    .products-row {
        display: grid;
        grid-auto-rows: 250px;
        grid-gap: 20px;
    }

}

.products-row.row-first {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
}

.products-row.row-second {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
}




    .contacts-green-heading {
        font-size: 18px;
        color: @mainColor;
        position: relative;

    } 

    .our-timber-box-row {
        display: grid;
        grid-auto-rows: 300px;
        grid-gap: 20px;
        justify-content: center;
    }
    
    .our-timber-box-row.row-first {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,300px);
    } .our-timber-box-row.row-second {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,300px);
    } .our-timber-box-row.row-third {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,300px);
    }
    
    .our-timber-rows-item {
        padding: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: @baseBorderRadius;
        display: grid;
        text-align: center;
        font-size: 0px;
        color: none;
        text-shadow: none;
    }
     .our-timber-rows-item.item-second {
        background-image: url(../image/products-second.png);
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
     .our-timber-rows-item.item-fifth {
        background-image: url(../image/products-fifth.png);
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
     .our-timber-rows-item.item-ninth {
        background-image: url(../image/products-ninth.png);
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .help-to-find {
        padding: 35px;
        background-image: url(../image/paper-background.jpg);
    }

    .help-to-find-box {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,280px);
        grid-gap: 30px;
    }
    .help-to-find-image {
        width: 90%;
        height: 80%;
        grid-column-start: 1;
        grid-column-end: 2;
        border-radius: @baseBorderRadius;
    }
    .help-to-find-item {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
    }
    .help-to-find-item2 {
        .help-to-find-item;
    }
    .help-to-find-item-text, .help-to-find-item-text1, .help-to-find-item-text2, .help-to-find-item-text3 {
        color: @baseTextColor;
        margin-top: -150px;
        grid-column-start: 2;
        grid-column-end: 3;
    }
 
    
    .footer-column > .green-heading {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .footer-column2 > .green-heading {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .footer-column3 > .green-heading {
        margin-bottom: 20px;
        font-size: 18px;
    }
    
    .footer-link1 {
        margin-bottom: 15px;
        display: block;
        color: white;
        font-size: 16px;
    }
    .footer-link2 {
        .footer-link1; 
    }
    .footer-link3 {
        .footer-link1;
        margin-bottom: 23.5px;
    }

    .footer {
        width: 100%;
        padding: 40px;
        background-color: #353540;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
    }
}

@media (max-width:600px) {
    .green-heading {
        font-size: 18pt;
        color: @mainColor;
        text-transform: uppercase;
    
        &::after {
            content: '';
            display: block;
            height: 4px;
            width: 45px;
            border-radius: @baseBorderRadius;
            background-color: @mainColor;
            margin-top: 8px;
        }
    }
    .basic-heading {
        font-size: 14pt;
        color: @baseHeadingColor;
        font-weight: bold;
        margin-top: 15px;
    }
    //Slider 
    .slider {
        height: 205px;
        width: 100%;
    }

    .slider-title {
        margin-bottom: 0px;
        color: @baseColor;
        display: grid;
        font-size: 13pt;
        grid-auto-flow: column;
        justify-self: start;
    
        &::before {
            content: '';
            display: block;
            height: 4px;
            width: 38px;
            margin-right: 15px;
            background-color: @baseColor;
            box-shadow: 0 0 4px 0 black;
            position: relative;
            top: 7px;
        }
    }
    
    .slider-subtitle {
        width: 330px;
        font-size: 11pt;
    }
    //What we do?
    .what-we-do {
        padding: 40px 20px;
        background-image: url(../image/paper-background.jpg);
    }
    
    .what-we-do-box {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 12px;
        justify-content: space-around;
        align-items: center;
    }
    
.what-we-do-cards {
    padding: 0px;
    background-color: @baseColor;
    border-radius: @baseBorderRadius;
    border: @baseBorder;
    display: grid;
    justify-items: center;
    align-content: start;
}
.card-image {
    display: none;
}
.card-text {
    width: 80%;
    margin: 15px 20px;
    color: @baseTextColor;
    font-size: 11pt;
}
.card-divider {
    height: 1px;
    width: 125px;
    margin-top: 17px;
    background-color: @baseHeadingColor;
}


    .products {
        padding: 30px 20px;
    
        .products-box {
            margin-top: 50px;
            display: grid;
            grid-gap: 10px;
    
            .products-row {
                display: grid;
                grid-auto-rows: 150px;
                grid-gap: 0px;
            }
    
        }
    
    }
    
    .products-row.row-first {
        grid-template-columns: 1fr;
    }
    
    .products-row.row-second {
        grid-template-columns: none;
    }
    
    .products-examples {
        border-radius: @baseBorderRadius;
        display: grid;
        place-content: center;
        text-align: center;
        padding: 20px;
        color: @baseColor;
        font-size: 18pt;
        text-shadow: @baseTextShadow;
    }
    
    .first-example {
        background-image: url(../image/page-home-products-image-first.png);
    }
     .second-example, .third-example, .fourth-example, .fifth-example, .sixth-example {
        display: none;
    } 
    //OUR TIMBERS 
    .our-timber-rows-item.item-first,
    .our-timber-rows-item.item-third,
    .our-timber-rows-item.item-fourth,
    .our-timber-rows-item.item-sixth,
    .our-timber-rows-item.item-seventh,
    .our-timber-rows-item.item-eighth {
        display: none;
    }
    .products {
        padding: 20px 20px;      
    }
    .products-box {
        margin-top: 50px;
        display: grid;
        grid-gap: 20px;
    }

    .products-row {
        display: grid;
        grid-auto-rows: 250px;
        grid-gap: 20px;
    }
    .products-box {
        margin-top: 50px;
        display: grid;
        grid-gap: 20px;
    
        .products-row {
            display: grid;
            grid-auto-rows: 250px;
            grid-gap: 20px;
        }
    
    }
    
    .products-row.row-first {
        grid-template-columns: 1fr;
        grid-template-rows: 150px;
    }
    
    .products-row.row-second {
        grid-template-columns: 1fr;
        grid-template-rows: 150px;
    }
    
    
    
    
        .contacts-green-heading {
            font-size: 18px;
            color: @mainColor;
            position: relative;
    
        } 
    
        .our-timber-box-row {
            display: grid;
            grid-auto-rows: 300px;
            grid-gap: 20px;
            justify-content: center;
        }
        
        .our-timber-box-row.row-first {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(1,150px);
        } .our-timber-box-row.row-second {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(1,150px);
        } .our-timber-box-row.row-third {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(1,150px);
        }
        
        .our-timber-rows-item {
            padding: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: @baseBorderRadius;
            display: grid;
            text-align: center;
            font-size: 14pt;
            color: none;
            text-shadow: none;
        }
    .our-timber-rows-item.item-second {
        background-image: url(../image/products-second.png);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
     .our-timber-rows-item.item-fifth {
        .our-timber-rows-item.item-second;
        background-image: url(../image/products-fifth.png);
    }
     .our-timber-rows-item.item-ninth {
        .our-timber-rows-item.item-second;
        background-image: url(../image/products-ninth.png);
    }
//Help to find
.help-to-find {
    padding: 35px;
    background-image: url(../image/paper-background.jpg);
}

.help-to-find-box {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,280px);
    grid-gap: 30px;
}
.help-to-find-image {
    width: 100%;
    height: 40%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: @baseBorderRadius;
}
.help-to-find-item {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.help-to-find-item2 {
    display: none;
}
.help-to-find-heading {
    margin: -10px 0;
    color: @baseHeadingColor;
    font-size: 13pt;
    font-weight: bold;
}
.help-to-find-heading1 {
    .help-to-find-heading;
}
.help-to-find-heading2 {
    .help-to-find-heading;
    text-align: right;
}
.help-to-find-heading3 {
    .help-to-find-heading;
    text-align: center;
}
.help-to-find-item-text {
    width: 300px;
    color: @baseTextColor;
    font-size: 12pt;
    margin-top: -120px;
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.help-to-find-item-text1 {
    .help-to-find-item-text;
}
.help-to-find-item-text2 {
    .help-to-find-item-text;
    text-align: right;
}
.help-to-find-item-text3 {
    .help-to-find-item-text;
    text-align: center;
}


// Footer
.footer {
    width: 100%;
    padding: 20px;
    background-color: #353540;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-column {
    font-size: 12pt;
}
.footer-column2 > .green-heading {
    margin-bottom: 20px;
    
    margin-left: -140px;
    font-size: 18px;
}
.footer-column3 > .green-heading {
    margin-bottom: 62px;
    font-size: 18px;
}

.footer-link1 {
    margin-bottom: 25px;
    display: block;
    color: white;

}
.footer-link2 {
    .footer-link1;
    margin-left: -140px;
}
.footer-link3 {
    .footer-link1;
    position: relative;
    top:-43px;
}

// Footer contact card

.footer-contact-card {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: @baseBorderRadius;
    background-color: #50505C;
    color: @baseColor;
    position: relative;
    left: 45px;
}

.footer-contact-heading {
    color: @mainColor;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;

    &::before,
    &::after {
        content: '';
        display: inline-block;
        height: 5px;
        width: 35px;
        border-radius: @baseBorderRadius;
        background-color: @mainColor;
        position: relative;
    }

    &::before {
        bottom: 4px;
        margin-right: 10px;
    }

    &::after {
        bottom: 2px;
        margin-left: 10px;
    }
}

.list-title {
    margin: 15px 0;
}

.footer-contact-list-heading {
    font-size: 14pt;
}

.footer-contact-icon {
    margin-right: 10px;
    font-size: 26px;
}

.list-item {
    margin-bottom: 10px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;

    &:last-child {
        margin-bottom: 0;
    }
}

.list-icon {
    height: 10px;
    width: 10px;
    background-color: @baseColor;
    border-radius: 100%;
    margin-right: 10px;
}

.footer-contact-divider {
    height: 1px;
    width: 100%;
    margin-top: 20px;
    background-color: @baseColor;
}

}


//! Кнопка з ховером

.learn-more {
    width: 12rem;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    z-index: 100;
  }
  .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 40px;
    height: 40px;
    background-color: #353540;
    border-radius: 100%;
  }
  .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.1rem;
    width: 1.35rem;
    height: 0.125rem;
    background: none;
  }
  .learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.3rem;
    right: 0;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 9px;
    left: 10px;
    right: 0;
    bottom: 0;
    color: #282936;
    text-align: center;
  }
  .learn-more:hover .circle {
    width: 165px;
    height: 40px;
    border-radius: 10px;
    background-color: #72AC6B;
  }
  .learn-more:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
  }
  .learn-more:hover .button-text {
    color: #fff;
  }
  @supports (display: grid) {
    /* .big_container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.625rem;
        grid-template-areas: ". main main ." ". main main .";
       
      } */
    #container-button {//!Блок для вирівнювання кнопки, бо там grid злітав
          margin-top: 5px;
    padding: 9px 23px;
    border-radius: @baseBorderRadius;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: none;
    color: @baseColor;
    text-decoration: none;
    font-size: 20px;
    margin-left: -23px;
   
    }
  }
  //!Кінець кнопки з ховером