<!DOCTYPE html>
html(lang="en")
    head

        //- The basic standard of site coding
        meta(charset="UTF-8")

        //- Adaptive website for different devices
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Website title
        title Great Timber LTD - About us

        //- Connect the main style file
        link(rel="stylesheet", href="../css/style.css")

        //- Site tab icon
        link(rel="shortcut icon" href="../img/website-logo.png" type="image/png")

        //- Font awesome
        script(src="https://kit.fontawesome.com/265d7c8059.js" crossorigin="anonymous")

    body

        //- Header
        .header
            
            //- Logo
            .logo
                img(src="../img/fullsize-website-logo.png")

            //- Menu
            .menu
                a.menu-item(href="index.html") Homepage
                a.menu-item.menu-item-active(href="about.html") About us
                a.menu-item(href="products.html") Products
                a.menu-item(href="contacts.html") Contacts
            //- MOBILE MENU
            header.header_mobile
                .hamburger
                    button.button.hamburger__button.js-menu__toggle
                    span.hamburger__label
                
                nav.menu_mobile
                    ul.list.menu__list
                        li.menu__group
                            a(href="index.html").link.menu__link Homepage
                        li.menu__group
                            a(href="about.html").link.menu__link About us
                        li.menu__group
                            a(href="products.html").link.menu__link Products
                        li.menu__group
                            a(href="contacts.html").link.menu__link Contacts
            //- Header contacts
            .header-contacts
                .header-contact-row
                    i.fas.fa-phone
                    span +44(800) 82 9152
                .header-contacts-divider
                .header-contact-row
                    i.fas.fa-map-marked-alt
                    span Baker Street, 46B

        //- About title block
        .about-title-block
            .about-title-image-box
                h1.green-heading About us
                .about-title-image
            .about-title-box
                h1.about-title-heading Vestibulum accumsan velit nec nulla posuere dignissim. Etiam a sem eget dui convallis convallis. Maecenas rhoncus gravida lorem, at.
                span.about-title-describe Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis malesuada at, neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quidem perferendis aspernatur ad tenetur fuga mollitia laudantium deserunt totam molestias repudiandae vero et natus quos alias minus veniam, deleniti similique.

        //- Our advantages
        .our-advantages
            h1.green-heading1 Our advantages
            .advantages-box
                .advantage-item
                    .advantage-number-block
                        span.advantage-number 1
                    .advantage-describe
                        h3.advantage-heading CRAS SED ELEIFEND VELIT
                        span.advantage-text Duis nunc dui, sollicitudin vel nibh eu, vehicula luctus orci. Nullam eu nisl at ipsum convallis commodo nec ullamcorper justo. Maecenas elementum nisi.
                        //- a.read-more(href="#")
                        //-     span Read More
                        //-     i.fas.fa-chevron-right.read-more-icon
                        #container-button
                            .learn-more
                                .circle
                                    span.icon.arrow
                                p.button-text Read more
                .advantage-item
                    .advantage-number-block
                        span.advantage-number 2
                    .advantage-describe
                        h3.advantage-heading CRAS SED ELEIFEND VELIT
                        span.advantage-text Duis nunc dui, sollicitudin vel nibh eu, vehicula luctus orci. Nullam eu nisl at ipsum convallis commodo nec ullamcorper justo. Maecenas elementum nisi.
                        //- a.read-more(href="#")
                        //-     span Read More
                        //-     i.fas.fa-chevron-right.read-more-icon
                        #container-button
                            .learn-more
                                .circle
                                    span.icon.arrow
                                p.button-text Read more
                .advantage-item3
                    .advantage-number-block
                        span.advantage-number 3
                    .advantage-describe
                        h3.advantage-heading CRAS SED ELEIFEND VELIT
                        span.advantage-text Duis nunc dui, sollicitudin vel nibh eu, vehicula luctus orci. Nullam eu nisl at ipsum convallis commodo nec ullamcorper justo. Maecenas elementum nisi.
                        //- a.read-more(href="#")
                        //-     span Read More
                        //-     i.fas.fa-chevron-right.read-more-icon
                        #container-button
                            .learn-more
                                .circle
                                    span.icon.arrow
                                p.button-text Read more

        //- Why choose us
        .why-choose-us
            h1.green-heading1 Why choose us
            .why-choose-us-box
                .why-choose-us-item
                    .why-choose-image.choose-image-first
                    .why-choose-text
                        h3.why-choose-heading Vestibulum accumsan velit posuere dignissim.
                        span.why-choose-describe Fusce feugiat malesuada odio. Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermenum dictum .
                        //- a.read-more(href="#")
                        //-     span Read More
                        //-     i.fas.fa-chevron-right.read-more-icon
                        #container-button
                            .learn-more
                                .circle
                                    span.icon.arrow
                                p.button-text Read more
                .why-choose-us-item
                    .why-choose-image.choose-image-second
                    .why-choose-text
                        h3.why-choose-heading Vestibulum accumsan velit posuere dignissim.
                        span.why-choose-describe Fusce feugiat malesuada odio. Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermenum dictum .
                        //- a.read-more(href="#")
                        //-     span Read More
                        //-     i.fas.fa-chevron-right.read-more-icon
                        #container-button
                            .learn-more
                                .circle
                                    span.icon.arrow
                                p.button-text Read more

        //- Footer
        .footer
            .footer-column
                h1.green-heading Products
                span.footer-link1 Vestibulum
                span.footer-link1 Culis lacinia
                span.footer-link1 Proin dictum
                span.footer-link1 Fusce
                span.footer-link1 Conqeust
            .footer-column2
                h1.green-heading Technology
                span.footer-link2 Vatus error sivolu
                span.footer-link2 Tatem accus
                span.footer-link2 Quantum protos
                span.footer-link2 Folot atos
                span.footer-link2 Lorem ipsum
            .footer-column3
                h1.green-heading Company
                span.footer-link3 Homepage
                span.footer-link3 About us
                span.footer-link3 Products
                span.footer-link3 Contact us
            .footer-column
                .footer-contact-card
                    .footer-contact-heading Contact
                    .list-title
                        i.fas.fa-phone.footer-contact-icon
                        span.footer-contact-list-heading Phone numbers:
                    .list-item
                        .list-icon
                        span.footer-list-item +44(800) 82 9152
                    .list-item
                        .list-icon
                        span.footer-list-item +44(800) 53 3218
                    .footer-contact-divider
                    .list-title
                        i.fas.fa-envelope-open-text.footer-contact-icon
                        span.footer-contact-list-heading Emails:
                    .list-item
                        .list-icon
                        span.footer-list-item tree.company@gmail.com
                    .list-item
                        .list-icon
                        span.footer-list-item great.timber@gmail.com
        script(src="../js/index.js")

                  
                    