<!DOCTYPE html>
html(lang="en")
    head

        //- The basic standard of site coding
        meta(charset="UTF-8")

        //- Adaptive website for different devices
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Website title
        title Great Timber LTD - Contacts

        //- Connect the main style file
        link(rel="stylesheet", href="../less/style.css")

        //- Site tab icon
        link(rel="shortcut icon" href="../img/website-logo.png" type="image/png")

        //- Font awesome
        script(src="https://kit.fontawesome.com/265d7c8059.js" crossorigin="anonymous")

    body

        //- Header
        .header
            
            //- Logo
            .logo
                img(src="../img/fullsize-website-logo.png")

            //- Menu
            .menu
                a.menu-item(href="#") Homepage
                a.menu-item(href="#") About us
                a.menu-item(href="#") Products
                a.menu-item.menu-item-active(href="#") Contacts

            //- Header contacts
            .header-contacts
                .header-contact-row
                    i.fas.fa-phone
                    span +44(800) 82 9152
                .header-contacts-divider
                .header-contact-row
                    i.fas.fa-map-marked-alt
                    span Baker Street, 46B

        //- Contact box
        .contact-container
            .contact-form
                h1.green-heading Get in touch
                .contact-box
                    input.contact-input.name-input(placeholder="Name")
                    input.contact-input.phone-number-input(placeholder="Phone number")
                    input.contact-input.email-input(placeholder="E-mail")
                    input.contact-input.subject-input(placeholder="Subject")
                    textarea.contact-message.message-input(placeholder="Message")
                    .send-contacts-button
                        span.send-button-text Send message
                        i.fas.fa-paper-plane.send-button-icon
            .contacts
                h1.contacts-green-heading Contacts
                .contacts-box
                    .contacts-contact-title
                        i.fas.fa-phone.contacts-contact-icon
                        span.contacts-contact-heading Phone
                    .contacts-contact-list
                        span.contacts-contact-list-item +44(800) 82 9152
                        span.contacts-contact-list-item +44(800) 53 3218

                    .contacts-contact-divider

                    .contacts-contact-title
                        i.fas.fa-envelope-open-text.contacts-contact-icon
                        span.contacts-contact-heading E-mail
                    .contacts-contact-list
                        span.contacts-contact-list-item tree.company@gmail.com
                        span.contacts-contact-list-item support@gmail.com

                    .contacts-contact-divider

                    .contacts-contact-title
                        i.fas.fa-map-marked-alt.contacts-contact-icon
                        span.contacts-contact-heading Address
                    .contacts-contact-list
                        span.contacts-contact-list-item 1268 Hardesty Street Colonie, New York. 12205

        //- Beta google maps
        .google-maps

        //- Footer
        .footer
            .footer-column
                h1.green-heading Products
                span.footer-link Vestibulum
                span.footer-link Culis lacinia
                span.footer-link Proin dictum
                span.footer-link Fusce euismod
                span.footer-link Conqeust
            .footer-column
                h1.green-heading Technology
                span.footer-link Vatus error sivolu
                span.footer-link Tatem accus
                span.footer-link Quantum protos
                span.footer-link Folot atos
                span.footer-link Lorem ipsum
            .footer-column
                h1.green-heading Company
                span.footer-link Homepage
                span.footer-link About us
                span.footer-link Products
                span.footer-link Contact us
            .footer-column
                .footer-contact-card
                    .footer-contact-heading Contact
                    .list-title
                        i.fas.fa-phone.footer-contact-icon
                        span.footer-contact-list-heading Phone numbers:
                    .list-item
                        .list-icon
                        span.footer-list-item +44(800) 82 9152
                    .list-item
                        .list-icon
                        span.footer-list-item +44(800) 53 3218
                    .footer-contact-divider
                    .list-title
                        i.fas.fa-envelope-open-text.footer-contact-icon
                        span.footer-contact-list-heading Emails:
                    .list-item
                        .list-icon
                        span.footer-list-item tree.company@gmail.com
                    .list-item
                        .list-icon
                        span.footer-list-item great.timber@gmail.com