<!DOCTYPE html>
html(lang="en")
    head

        //- The basic standard of site coding
        meta(charset="UTF-8")

        //- Adaptive website for different devices
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Website title
        title Great Timber LTD - Details

        //- Connect the main style file
        link(rel="stylesheet", href="../css/style.css")

        //- Site tab icon
        link(rel="shortcut icon" href="../img/website-logo.png" type="image/png")

        //- Font awesome
        script(src="https://kit.fontawesome.com/265d7c8059.js" crossorigin="anonymous")

    body

        //- Header
        .header
            
            //- Logo
            .logo
                img(src="../img/fullsize-website-logo.png")

            //- Menu
            .menu
                a.menu-item(href="index.html") Homepage
                a.menu-item(href="about.html") About us
                a.menu-item(href="products.html") Products
                a.menu-item(href="contacts.html") Contacts
            //- MOBILE MENU
            header.header_mobile
                .hamburger
                    button.button.hamburger__button.js-menu__toggle
                    span.hamburger__label
                
                nav.menu_mobile
                    ul.list.menu__list
                        li.menu__group
                            a(href="index.html").link.menu__link Homepage
                        li.menu__group
                            a(href="about.html").link.menu__link About us
                        li.menu__group
                            a(href="products.html").link.menu__link Products
                        li.menu__group
                            a(href="contacts.html").link.menu__link Contacts
            //- Header contacts
            .header-contacts
                .header-contact-row
                    i.fas.fa-phone
                    span +44(800) 82 9152
                .header-contacts-divider
                .header-contact-row
                    i.fas.fa-map-marked-alt
                    span Baker Street, 46B
            
        
        
        .one-product
            .box-h1
                h1.h1__green PRODUCT DESCRIBE
                .green-line
            .flex
                .fotos
                    .fotos__big-foto
                        .big-foto__arrowLeft
                            img(src="../img/details__arrow.png", alt="")
                        .big-foto__arrowRight
                            img(src="../img/details__arrow.png", alt="")
                         
                    hr
                    .fotos_small-box
                        .fotos__small-foto
                        .fotos__small-foto
                        .fotos__small-foto
                        .fotos__small-foto
                hr.line
                .describe
                    .describe__name-box
                        h2 Lining
                        .name-box__icon
                            img(src="../img/basket.png", alt="")
                    .describe__quality
                        .quality__flex
                            h2 Quality:
                            img.star-icon(src="../img/star.png", alt="")
                            img.star-icon(src="../img/star.png", alt="")
                            img.star-icon(src="../img/star.png", alt="")
                            img.star-icon(src="../img/star.png", alt="")
                            img.star-icon(src="../img/star.png", alt="")
                        .quality__flex2
                            img(src="../img/details__check.png", alt="")
                            p In stock
                    .describe__main
                        .main__flex
                            hr
                            h3 Main describe
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo
                            br
                            br
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo

                    .describe__count
                        h2 Count:
                        .count__how-many 10
                            img(src="../img/details__count.png", alt="")
                    .describe__buy
                        .buy__button Buy
                            img(src="../img/dollar.png", alt="")      
        script(src="../js/index.js")