<!DOCTYPE html>
html(lang="en")
    head

        //- The basic standard of site coding
        meta(charset="UTF-8")

        //- Adaptive website for different devices
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Website title
        title Great Timber LTD - Products

        //- Connect the main style file
        link(rel="stylesheet", href="../less/style.css")

        //- Site tab icon
        link(rel="shortcut icon" href="../img/website-logo.png" type="image/png")

        //- Font awesome
        script(src="https://kit.fontawesome.com/265d7c8059.js" crossorigin="anonymous")

    body

        //- Header
        .header
            
            //- Logo
            .logo
                img(src="../img/fullsize-website-logo.png")

            //- Menu
            .menu
                a.menu-item(href="#") Homepage
                a.menu-item(href="#") About us
                a.menu-item.menu-item-active(href="#") Products
                a.menu-item(href="#") Contacts

            //- Header contacts
            .header-contacts
                .header-contact-row
                    i.fas.fa-phone
                    span +44(800) 82 9152
                .header-contacts-divider
                .header-contact-row
                    i.fas.fa-map-marked-alt
                    span Baker Street, 46B

        //- Our timbers
        .our-timbers
            h1.green-heading Our timbers
            .our-timber-box

                .our-timber-box-row.row-first
                    .our-timber-rows-item.item-first Lorem ipsum dolor sit amet
                    .our-timber-rows-item.item-second Lorem ipsum dolor sit amet
                    .our-timber-rows-item.item-third Lorem ipsum dolor sit amet
                
                .our-timber-box-row.row-second
                    .our-timber-rows-item.item-fourth Lorem ipsum dolor sit amet
                    .our-timber-rows-item.item-fifth Lorem ipsum dolor sit amet
                    .our-timber-rows-item.item-sixth Lorem ipsum dolor sit amet

                .our-timber-box-row.row-third
                    .our-timber-rows-item.item-seventh Lorem ipsum dolor sit amet
                    .our-timber-rows-item.item-eighth Lorem ipsum dolor sit amet
                    .our-timber-rows-item.item-ninth Lorem ipsum dolor sit amet

        //- Helf to find
        .help-to-find
            h1.green-heading IF WE DON'T PRODUCE IT, WE'LL HELP YOU FIND IT
            p.help-to-find-text Lorem ipsum dolor sit amet, couer adipscing elit. Praesent vestibuluolestie lacus. Aenean nonummy hendrerit mauris. Phlus porta. Fusce s varius mis natoque penatibus. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
            .help-to-find-box
                .help-to-find-item
                    img.help-to-find-image(src="../image/help-to-find-image.png")
                    h2.help-to-find-heading Nisi porta lorem mollis
                    span.help-to-find-item-text Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Lectus sit amet est placerat in. Morbi non arcu risus quis varius. A erat nam at lectus urna duis convallis convallis.
                .help-to-find-item
                    img.help-to-find-image(src="../image/help-to-find-image.png")
                    h2.help-to-find-heading Nisi porta lorem mollis
                    span.help-to-find-item-text Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Lectus sit amet est placerat in. Morbi non arcu risus quis varius. A erat nam at lectus urna duis convallis convallis.
                .help-to-find-item
                    img.help-to-find-image(src="../image/help-to-find-image.png")
                    h2.help-to-find-heading Nisi porta lorem mollis
                    span.help-to-find-item-text Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Lectus sit amet est placerat in. Morbi non arcu risus quis varius. A erat nam at lectus urna duis convallis convallis.
                .help-to-find-item
                    img.help-to-find-image(src="../image/help-to-find-image.png")
                    h2.help-to-find-heading Nisi porta lorem mollis
                    span.help-to-find-item-text Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Lectus sit amet est placerat in. Morbi non arcu risus quis varius. A erat nam at lectus urna duis convallis convallis.

        //- Footer
        .footer
            .footer-column
                h1.green-heading Products
                span.footer-link Vestibulum
                span.footer-link Culis lacinia
                span.footer-link Proin dictum
                span.footer-link Fusce euismod
                span.footer-link Conqeust
            .footer-column
                h1.green-heading Technology
                span.footer-link Vatus error sivolu
                span.footer-link Tatem accus
                span.footer-link Quantum protos
                span.footer-link Folot atos
                span.footer-link Lorem ipsum
            .footer-column
                h1.green-heading Company
                span.footer-link Homepage
                span.footer-link About us
                span.footer-link Products
                span.footer-link Contact us
            .footer-column
                .footer-contact-card
                    .footer-contact-heading Contact
                    .list-title
                        i.fas.fa-phone.footer-contact-icon
                        span.footer-contact-list-heading Phone numbers:
                    .list-item
                        .list-icon
                        span.footer-list-item +44(800) 82 9152
                    .list-item
                        .list-icon
                        span.footer-list-item +44(800) 53 3218
                    .footer-contact-divider
                    .list-title
                        i.fas.fa-envelope-open-text.footer-contact-icon
                        span.footer-contact-list-heading Emails:
                    .list-item
                        .list-icon
                        span.footer-list-item tree.company@gmail.com
                    .list-item
                        .list-icon
                        span.footer-list-item great.timber@gmail.com